// color palette
$colorA1: #FDFFE2;
$colorA2: #83B4FF;
$colorA3: #5A72A0;
$colorA4: #1A2130;
$colorB1: #050C9C;
$colorB2: #3572EF;
$colorB3: #3ABEF9;
$colorB4: #A7E6FF;
$colorC1: #059212;
$colorC2: #06D001;
$colorC3: #9BEC00;
$colorC4: #F3FF90;

